body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    align-items: right;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h2{
color: #fff;
}

.hero P{
color: #fff;
}

.features, .course-list {
    margin-top: 20px;
}

.features .feature, .courses .course {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.course a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    margin-top: 10px;
}

.course-details ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.contact{
height: 60vh;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.contact label{
color: black;
}

.contact h2{
font-weight: 600;
font-size: 40px;
margin-bottom: 5px;
}

.contact input{
width: 400px;
height: 50px;
border: none;
outline: none;
padding-left: 25px;
font-weight: 500;
border-radius: 50px;
}

.contact textarea{
height: 140px;
padding-top: 15px;
border-radius: 20px;
}


.contact button{
display: flex;
align-items: center;
padding: 15px 30px;
font-size: 16px;
color: #fff;
gap: 10px;
border: none;
border-radius: 50px;
background: linear-gradient(270deg, #ff994f, #fa6d86);
cursor: pointer;
}

.course-details{
color: #fff;
}
